
/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, /*footer,*/ header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		/*line-height: 1;*/		
	}
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Basic Styles
================================================== */
	body {
		background-color: #f5f5f5;
		font: 14px Arial, sans-serif;
		color: #444;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }


/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		font-weight: 300; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold; }
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
	a, a:visited { text-decoration: underline; outline: 0; }
	a:hover, a:focus { }
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ul, ul.square { list-style: square outside; }
	ul ul, ul.circle { list-style: circle outside; }
	ul ul ul, ul.disc { list-style: disc outside; }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }

/* #Images
================================================== */

.message-container {
	border: solid 1px #fff;
	background-color: #fff;
	font-size: 13px;
    height: 15px;
    padding: 9px;
    width: 427px;
    display: table;
    margin-bottom: 20px;
}
.success-message {
	display: table-cell;
    vertical-align: middle;
	color: #009900;
	font-weight: bold;
}
.warning-message {
	display: table-cell;
    vertical-align: middle;
	color: #ff9933;
	font-weight: bold;
}
.error-message {
	display: table-cell;
    vertical-align: middle;
	color: #ff0000;
	font-weight: bold;
}

.r-tabs {
	position: relative;
	width: 960px;
	margin:0 auto;
	/*background-color: #1E728A;*/
	background-color: #207EA9;
	
	/*border-top: 1px solid #00c5ad;
	border-right: 1px solid #00c5ad;
	border-left: 1px solid #00c5ad;
	border-bottom: 4px solid #00c5ad;
	border-radius: 4px;
*/}

/* Tab element */
.r-tabs .r-tabs-nav .r-tabs-tab {
	position: relative;
	background-color: #1E728A;
}

/* Tab anchor */
.r-tabs .r-tabs-nav .r-tabs-anchor {
	display: inline-block;
	padding: 10px 12px;
	text-decoration: none;
	/*text-shadow: 0 1px rgba(0, 0, 0, 0.4);*/
	font-size: 14px;
	font-weight: bold;
	color: #fff !important;
}

/* Disabled tab */
.r-tabs .r-tabs-nav .r-tabs-state-disabled {
	opacity: 0.5;
}

/* Active state tab anchor */
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
	color: #000000 !important;
	background-color: white;	
}

/* Tab panel */
.r-tabs .r-tabs-panel {
	background-color: white;	
}

/* Accordion anchor */
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
	display: block;
	padding: 10px;
	background-color: #00c5ad;
	color: #fff !important;
	font-weight: bold;
	text-decoration: none;
	font-size: 14px;	
}

/* Active accordion anchor */
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
	background-color: #fff;
	color: #00c5ad !important;
	text-shadow: none;
}

/* Disabled accordion button */
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
	opacity: 0.5;
}

#header-container {
	position: relative;
	width: 960px;
	height: 60px;
	background-color: #207EA9;
	margin:0 auto;
}
#header-container p {
	position: relative;
	float: left;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	top: 17px;
}
#logo-container {
	float: left;
	position: relative;
	top: 15px;
	margin-left: 20px;
	margin-right: 19px;
	width: 48px;
	height:30px;	
}
#login-logo-container {
	margin-bottom: 20px;
	font-size: 15px;
	font-weight: bold;
	width: 100%;
	display:table;		 
}
#login-logo-container span {
	display:table-cell;
 	vertical-align:middle; 		
}
#login-form-container {
	background-color: #207EA9;
	color: #fff;
	width: 350px;
	height: 286px;
	margin: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	padding: 20px;
}
#login-form-container label {
	position: relative;
	top: -3px;
	font-size: 13px;
	color: #fff;
}
#login-form-container input[type="text"],
#login-form-container input[type="password"] {
	background-color: #fff;
	border: solid 1px #fff;
}
.button-login {
	height: 35px;
	background-color: #0a5064;
	border: 0px none;
	cursor: pointer;
	font-size: 13px;
	color: #FFF;
	width: 140px;
}
.button-login:hover {
    background-color: #003c4d;
    color: #FFF;
}

#logout-container {
	float: right;
	font-size: 13px;
	color: #fff;
	font-family: Arial,sans-serif;
	margin-top:16px;
	margin-right: 20px;	
}
#logout-container a:link,
#logout-container a:active,
#logout-container a:visited {
	font-size: 13px;
	color: #fff;
	font-family: Arial,sans-serif;
	text-decoration: none;
}
#logout-container a:hover {
	text-decoration: underline;
}


#footer-container {
    position: relative;
    width:960px;
	height:60px;
	background-color: #f5f5f5;
	margin:0 auto;	
}
footer {
    width:960px;
	height:60px;	
}
.copy  {
    margin-top: 22px;
    margin-left: 20px;
    background-color: #f5f5f5;
	float:left;
	font-size: 13px;	
}
.copy a:link,
.copy a:active,
.copy a:visited {
	font-size: 13px;
	color: #000;
	font-family: Arial,sans-serif;
	text-decoration: none;
}
.copy a:hover {
	text-decoration: underline;
}

#tab-1,
#tab-2,
#tab-3,
#tab-4 {
	height: 500px;
}

.container-table {
	float: left;
	margin-left: 5px;
	margin-top: 20px;
	width: 920px;
	overflow-y: auto;	
}

.container-table table {
	background-color: #fff;
	width: 100%;
}

.container-table table thead {
	background-color: #ccdded;
	height: 30px;
}
.container-table table tr {
	height: 35px;
	font-weight: normal;
}
.container-table table thead tr td {
	font-size: 13px;
	font-weight: bold;
	vertical-align: middle;
	color: #1E728A;
}
.container-table table tr td {
	font-size: 13px;
	padding-left: 5px;
	border: solid 1px #9fbddb;
	vertical-align: middle;
	height: 35px;
}
#container-table-item-label {
	float: left;	
}
#container-message-and-button {
	margin-top: 5px;
	margin-left: 5px;
	width: 920px;
	height: 35px;	
}
#container-message-table {
	position: relative;
	float: left;
	font-size: 12px;
	font-weight: bold;
	width: 50%;
	line-height: 31px;
}
#container-button-table {
	float: right;
	position: relative;
	line-height: 31px;
}
.container-form-field {
    width: 402px;
    margin-bottom: 20px;    
}
.container-form-upload {
	width: 100%;
    margin-bottom: 15px;
}
.container-form-field label,
.container-form-upload label {
	position: relative;
	top: -3px;
	font-size: 13px;
	color: #666;
}
#label-container-form-file-upload {
	position: relative;
	top: -3px;
	font-size: 13px;
	color: #666;
}
.button:hover {
    background-color: #1E728A;
    color: #FFF;
}
.button {
    height: 34px;
    background-color: #207EA9;
    border: 0px none;
    cursor: pointer;
    font-size: 13px;
    color: #FFF;
    width: 140px;    
}
input {
    height: 15px;
}
input[type="checkbox"]{
	width: 30px;
}
textarea {
   resize: none;
}
.code-editor {
	font-size: 15px;
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
	color: #333;
}
input[type="text"], input[type="password"], /*input[type="checkbox"],*/ textarea, select {
    padding: 9px;
    border: 1px solid #ebf3fb;
    outline: 0px none;
    font: 13px/100% Arial,sans-serif;
    width: 400px;
    background: #ebf3fb none repeat scroll 0% 0%;
    color: #666;
}
::-webkit-input-placeholder {
   color: #666;   
}
:-moz-placeholder {
   color: #666;   
}
::-moz-placeholder {
   color: #666;  
   
}
:-ms-input-placeholder {  
   color: #666;   
}

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
#mask-image {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
#boxes .window {
  position:absolute;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}
#boxes-image .window-image {
  position:absolute;
  left:0;
  top:0;
  width:960px;
  height:auto;
  display:none;
  z-index:9999;
  padding:20px;
}

#boxes #dialog {
  width:328px; 
  height:270px;
  padding:20px;
  background-color:#ffffff;
}

#boxes-image #dialog-image {
  width:960px; 
  height:auto;
  padding-top: 6px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;  
  background-color:#ffffff;
}

#dialog a:link,
#dialog a:active,
#dialog a:visited {
	font-size: 13px;
	color: #000;
	font-family: Arial,sans-serif;
	text-decoration: none;
}
#dialog a:hover {
	text-decoration: underline;
}

#dialog-image a:link,
#dialog-image a:active,
#dialog-image a:visited {
	font-size: 13px;
	color: #000;
	font-family: Arial,sans-serif;
	text-decoration: none;
}
#dialog-image a:hover {
	text-decoration: underline;
}

.close {
	display:block; 
	text-align:right;
}

.close-image {
	display:block; 
	text-align:right;
}

.container-table-navigation {
	margin-top: 20px;
	float: right;
	margin-right: 5px;
	height: 16px;
}
#container-button-first {
	float: left;
	margin-right: 5px;
}
#container-button-previous {
	float: left;
	margin-right: 5px;
}
#container-button-next {
	float: left;
	margin-right: 5px;
}
#container-button-last {
	float: left;	
}

.fileUpload {
    position: relative;
    overflow: hidden;        
}
.fileUpload input.upload {
    position: absolute;
	top: -1px;
	right: 0px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	left: -1px;
	height: 32px;
	width: 80px;
	opacity: 0;
	filter: alpha(opacity=0);    
}
#container-uploaded-files {
	width: 98%;
	height: auto;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 14px;	
	margin-bottom: 20px;
	background-color: #EBF3FB;	
}
.container-uploaded-row {
	width: 100%;
	height: 365px;
	margin-bottom: 10px;		
}
.container-uploaded-item {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	border: solid 1px #9FBDDB;
	height: 337px;
}
.container-uploaded-item-icons {
	padding: 5px;
	width: 189px;
	border-bottom: 1px solid #9FBDDB;
	background-color: #fff;
	height: 24px;	
}
.container-uploaded-item-icons a img {
	float: left;
	border: 0;
}
.container-uploaded-item-image {
	position: relative;
	height: 267px;
	background-color: #fff;
}
.container-uploaded-item-image img {
	position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;    
}
.container-uploaded-item-legend {
	width: 189px;
	background-color: #fff;
	height: auto;
}
.container-uploaded-item-legend input[type="text"] {
    padding: 9px;
    border: 1px solid #fff;
    outline: 0px none;
    font: 13px/100% Arial,sans-serif;
    width: 179px;
    background: #fff none repeat scroll 0% 0%;
    color: #666;
    border-top: 1px solid #9FBDDB;    
}

#container-image {
	margin-top:9px;
}

#container-link-url {
	padding: 9px;
	border: 1px solid #EBF3FB;
	outline: 0px none;
	font: 13px/100% Arial,sans-serif;
	width: 380px;
	background: #EBF3FB none repeat;
	color: #666;
	height: 15px;
}
#container-link-url a:link,
#container-link-url a:active,
#container-link-url a:visited {
	font-size: 13px;
	color: #666;
	font-family: Arial,sans-serif;
	text-decoration: none;
}
#container-link-url a:hover {
	text-decoration: underline;
}
